.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1); /*lado original colocando so por questão didática*/
}

.ladoB {
    transform: scaleX(-1);
}